body {
    margin: 20px;
    background-color: rgb(156, 175, 106);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.avatar{
    width: 140px;
    height: fit-content;

    margin: auto 10px;
}

.card{
width: 445px;
margin-bottom: 20px;
margin-left: auto;
margin-right: auto;
padding: 20px;

display: flex;
justify-content: space-around;
text-align: center;
background: #ddebf8;
color: #2b2839;
border-bottom: 6px solid #c4b8f4;
box-shadow : inset 0 0 25px #6248cd, 0 8px 25px -3px black;
}
:hover.card{
    width: 450px;
    height: fit-content;
    box-shadow: inset 0 0 0 0 , 0 0 0 0;

}
